language: cpp
dist: trusty
sudo: require
compiler:
  - clang
  - gcc

before_install:
  - sudo add-apt-repository ppa:beineri/opt-qt593-trusty -y
  - sudo apt-get update -qq

install:
  - sudo apt-get -y install qt59base
  - source /opt/qt*/bin/qt*-env.sh

script:
  - SRC="cmake-build-relwithdebinfo"
  - TARGET="linuxdeployqt/TimeCampDesktop.AppDir"
  - CMAKE_NAME="TimeCampDesktop"
  - BUNDLE_NAME="TimeCampDesktop"
  - # as in https://github.com/probonopd/linuxdeployqt#simplest-example
  - mkdir -p $TARGET/usr/bin
  - mkdir -p $TARGET/usr/lib
  - mkdir -p $TARGET/usr/share/applications # app.desktop file path
  - mkdir -p $TARGET/usr/share/icons/hicolor/16x16 # icons
  - mkdir -p $TARGET/usr/share/icons/hicolor/32x32 # icons
  - mkdir -p $TARGET/usr/share/icons/hicolor/48x48 # icons
  - mkdir -p $TARGET/usr/share/icons/hicolor/64x64 # icons
  - mkdir -p $TARGET/usr/share/icons/hicolor/128x128 # icons
  - mkdir -p $TARGET/usr/share/icons/hicolor/256x256 # icons
  - mkdir -p $SRC
  - cd $SRC
  - cmake -DCMAKE_BUILD_TYPE=RelWithDebInfo -G "Unix Makefiles" "../"
  - cd ../
  - cmake --build $SRC --target "${CMAKE_NAME}" -- # build
  - cp $SRC/"${CMAKE_NAME}" $TARGET"/usr/bin/""${BUNDLE_NAME}" # copy the binary
  - cp res"/${BUNDLE_NAME}.desktop" $TARGET"/usr/share/applications/${BUNDLE_NAME}.desktop" # copy app.desktop file
  - cp "res/AppIcon_16.png" $TARGET"/usr/share/icons/hicolor/16x16/${BUNDLE_NAME}.png"
  - cp "res/AppIcon_32.png" $TARGET"/usr/share/icons/hicolor/32x32/${BUNDLE_NAME}.png"
  - cp "res/AppIcon_48.png" $TARGET"/usr/share/icons/hicolor/48x48/${BUNDLE_NAME}.png"
  - cp "res/AppIcon_64.png" $TARGET"/usr/share/icons/hicolor/64x64/${BUNDLE_NAME}.png"
  - cp "res/AppIcon_128.png" $TARGET"/usr/share/icons/hicolor/128x128/${BUNDLE_NAME}.png"
  - cp "res/AppIcon_256.png" $TARGET"/usr/share/icons/hicolor/256x256/${BUNDLE_NAME}.png"
  - unset QTDIR; unset QT_PLUGIN_PATH ; unset LD_LIBRARY_PATH
  - wget -c -nv "https://github.com/probonopd/linuxdeployqt/releases/download/continuous/linuxdeployqt-continuous-x86_64.AppImage"
  - chmod a+x linuxdeployqt-continuous-x86_64.AppImage
  - cp /lib/x86_64-linux-gnu/libssl.so.1.0.0  $TARGET"/usr/lib/"
  - cp /lib/x86_64-linux-gnu/libcrypto.so.1.0.0  $TARGET"/usr/lib/"
  - cp /lib/x86_64-linux-gnu/libbsd.so.0 $TARGET"/usr/lib/"
  - export VERSION=$(git rev-parse --short HEAD) # linuxdeployqt uses this for naming the file
  - ${LinuxDeployQtExec} $TARGET"/usr/share/applications/${BUNDLE_NAME}.desktop" -bundle-non-qt-libs -extra-plugins=sqldrivers,iconengines -verbose=2
  - ${LinuxDeployQtExec} $TARGET"/usr/share/applications/${BUNDLE_NAME}.desktop" -appimage -verbose=2

after_success:
  - echo "Unbundled dependant libs (they need to be in the system!):"
  - find $TARGET -executable -type f -exec ldd {} \; | grep -v "timecamp-desktop" | cut -d " " -f 2-3  | sort | uniq

branches:
  except:
    - # Do not build tags that we create when we upload to GitHub Releases
    - /^(?i:continuous)/
