[Desktop Entry]
Version=1.0
Comment=TimeCamp Desktop Application
Type=Application
Name=TimeCampDesktop
Exec=TimeCampDesktop
Icon=TimeCampDesktop
StartupNotify=false
Terminal=false
Categories=Office;ProjectManagement;Monitor;Network;
