[Desktop Entry]
Version=1.0
Comment=Timecamp Desktop Application
Type=Application
Name=TimecampDesktop
Exec=TimecampDesktop
Icon=TimecampDesktop
StartupNotify=false
Terminal=false
Categories=Office;ProjectManagement;Monitor;Network;
